body {
    margin: 0;
    background-color: #373b44;
}
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
}
.head,
.add-e,
.employee-list {
    width: 100%;
    text-align: center;
}
.green {
    background-color: mediumaquamarine;
    height: 2px;
    width: 90%;
    border-radius: 10;
}
.title {
    font-family: 'Space Mono', monospace;
}
.title, h1 {
    font-weight: 700;
}
.title {
    color: #dee1b6;
}

.inputs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: center;
}
.add-employee-inputs {
    display: block;
}

.add-employee-inputs,
input {
    margin: 8px;
}

.input-button {
    display: flex;
    justify-content: center;
    width: 90%;
    margin-bottom: 20px;
}

#submit-btn {
    /* display: inline-block; */
    background-color: #e1b866;
    color: 373b44;
    border: 0;
    font-family: 'Open Sans', sans-serif;
    line-height: 45px;
    padding: 0 15px;
    font-size: 16px;
    position: relative;
    border-radius: 5px;
}

textarea {
  resize: none;
}

input::placeholder {
    color: #e1b866;
    transition: all 0.5s;
}

input {
	border: none;
	border-bottom: 2px solid #e1b866;
    background-color: transparent;
    color: #e1b866;
    font-family: 'Open Sans',
    sans-serif;
	font-size: 16px;
	outline: none;
	transition: all 0.5s;
}

input:focus {
	border-bottom: 2px solid #bd5532;
}

input:focus::-webkit-input-placeholder {
	color: #bd5532;
}

.employees-table-area {
    width: 80%;
    color: #e1b866;
    font-family: 'Open Sans',
    sans-serif;
    font-size: 16px;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table {
	width: 100%;
    border-collapse: collapse;
    /* border-spacing: 0px; */
    
}

/* Zebra striping */
tr:nth-of-type(odd) {
	background: #eee;
}

th {
	/* background: #e1b866;
    color: #373b44;
    #bd5532 */
    background-color: #373b44;
    border-bottom: 2px solid #bd5532 !important;
    color: #bd5532;
	font-weight: 700;
}

td {
    background-color: #373b44;
    border-bottom: 2px solid #e1b866 !important;
    color: #e1b866;
    font-weight: 700;
}

td,
th {
    padding: 8px 8px 4px 6px;
	border: 2px solid transparent;
    text-align: left;
}